/* install fonts */

@font-face{
    font-family: radikal;
    src: url("font/Radikal\ Bold.ttf");
}


}

body{
    margin: 0px;
    margin-bottom: 8px;
}
header{
    background-color: #04FB84 ;
    width: 100%;
    float: left;
    height: 60px;
}
.epl_logo{
    float:left;
    margin-right: 100px;
}

.pad{
    width: 20px;
    height: 60px;
    background-color: #34053C;
    float: left;
}

.menus ul{
    list-style-type: none;
    font-family: "radikal";
    margin-right: 50px;
    margin-left: 100px;
    padding: 0px;
}

.menus li{
    float: right;
    color: #34053C;
    margin-right: 80px;
    margin-top: 4px;
    font-size: 18px;
}

.english_logo{
    float: right;
    margin-top: 17px;
    margin-bottom: auto;
    margin-right: 25px;
}

a{
    text-decoration: none;
    color: #34053C;
}

.pad_end{
    height: 60px;
    width: 7px;
    background-color: #34053C;
    float: right;
}

.main_area{
    background-image: url("pics/background3.jpg");
    background-size: cover;
    height: 500px;
}


.headline{
    height: 100%;
    background: rgba(0, 4, 12, 0.6);
    text-align: center;
    font-family: "radikal";
    color: white;
    font-size: 30px;
    vertical-align: 100px;
}





.news{
    font-family: "radikal";
    text-align: center;
    
}

.news h1{
    margin-top: 15px;
    margin-bottom: 10px;
}

.spacer{
    background-color: #34053C;
    width: 30%;
    height: 3px;
    margin: auto;
    margin-bottom: 20px;
}
.news_boxes h2{
    font-family: "radikal";
    text-align: center;
}
.news_boxes{
    width: 100%;
    height: 400px;
}

.news_boxes img{
    height: 220px;
    width: 100%;
}


.news_boxes p{
    font-family: tahoma;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: rgb(243, 19, 142);
    margin: 0;
    margin-left: 6px;


}

.news_boxes h2{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0px;
    font-size: 20px;
}



.news_box1{
    width: 25%;
    float: left;
    margin-left: 7% ;
    margin-right: 3%;
    margin-bottom: 20px;
    
}

.news_box2{
    width: 25%;
    float: left;
    margin-left: 3% ;
    margin-right: 3%;
    margin-bottom: 20px;
}



.news_box3{
    width: 25%;
    float: left;
    margin-left: 3% ;
    margin-right: 3%;
    margin-bottom: 20px;
}


.img_spacer{
    margin-top: 0;
    margin-bottom: 4px;
    height: 4px;
    width: 100%;
    background-color: #34053C;
}


* {
     margin: 0 auto;
     padding: 0;
}

.slider {
     width: 500px; /* important to be same as image width */
     height: 300px; /* important to be same as image height */
     position: relative; /* important */
     overflow: hidden; /* important */
}

.slider ul {
     list-style: none;
}

/* keyframes #anim_slider */
@-webkit-keyframes anim_slider {
     0% {
             opacity: 0;
     }
     6% {
             opacity: 1;
     }
     24% {
             opacity: 1;
     }
     30% {
             opacity: 0;
     }
     100% {
             opacity: 0;
     }
}

@-moz-keyframes anim_slider {
     0% {
             opacity: 0;
     }
     6% {
             opacity: 1;
     }
     24% {
             opacity: 1;
     }
     30% {
             opacity: 0;
     }
     100% {
             opacity: 0;
     }
}

/* animation */
.slider ul li {
     position: absolute;
     opacity: 0;
     top: 0;

     -webkit-animation-name: anim_slider;
     -webkit-animation-duration: 24.0s;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: normal;
     -webkit-animation-delay: 0;
     -webkit-animation-play-state: running;
     -webkit-animation-fill-mode: forwards;

     -moz-animation-name: anim_slider;
     -moz-animation-duration: 24.0s;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count: infinite;
     -moz-animation-direction: normal;
     -moz-animation-delay: 0;
     -moz-animation-play-state: running;
     -moz-animation-fill-mode: forwards;
}

/* animation delays */
.slider ul li:nth-child(2), .slider ul li:nth-child(2) div {
     -webkit-animation-delay: 3.0s;
     -moz-animation-delay: 3.0s;
}
.slider ul li:nth-child(3), .slider ul li:nth-child(3) div {
     -webkit-animation-delay: 6.0s;
     -moz-animation-delay: 6.0s;
}
.slider ul li:nth-child(4), .slider ul li:nth-child(4) div {
     -webkit-animation-delay: 9.0s;
     -moz-animation-delay: 9.0s;
}
.slider ul li:nth-child(5), .slider ul li:nth-child(5) div {
     -webkit-animation-delay: 12.0s;
     -moz-animation-delay: 12.0s;
}
.slider ul li:nth-child(6), .slider ul li:nth-child(6) div {
     -webkit-animation-delay: 15.0s;
     -moz-animation-delay: 15.0s;
}
.slider ul li:nth-child(7), .slider ul li:nth-child(7) div {
     -webkit-animation-delay: 18.0s;
     -moz-animation-delay: 18.0s;
}
.slider ul li:nth-child(8), .slider ul li:nth-child(8) div {
     -webkit-animation-delay: 21.0s;
     -moz-animation-delay: 21.0s;
}
.slider ul li:nth-child(9), .slider ul li:nth-child(9) div {
     -webkit-animation-delay: 24.0s;
     -moz-animation-delay: 24.0s;
}
.slider ul li:nth-child(10), .slider ul li:nth-child(10) div {
     -webkit-animation-delay: 27.0s;
     -moz-animation-delay: 27.0s;
}
.slider ul li:nth-child(11), .slider ul li:nth-child(11) div {
     -webkit-animation-delay: 30.0s;
     -moz-animation-delay: 30.0s;
}
.slider ul li:nth-child(12), .slider ul li:nth-child(12) div {
     -webkit-animation-delay: 33.0s;
     -moz-animation-delay: 36.0s;
}
.slider ul li:nth-child(13), .slider ul li:nth-child(13) div {
     -webkit-animation-delay: 39.0s;
     -moz-animation-delay: 39.0s;
}
.slider ul li:nth-child(14), .slider ul li:nth-child(14) div {
     -webkit-animation-delay: 42.0s;
     -moz-animation-delay: 42.0s;
}
.slider ul li:nth-child(15), .slider ul li:nth-child(15) div {
     -webkit-animation-delay: 45.0s;
     -moz-animation-delay: 45.0s;
}
.slider ul li:nth-child(16), .slider ul li:nth-child(16) div {
     -webkit-animation-delay: 48.0s;
     -moz-animation-delay: 48.0s;
}
.slider ul li:nth-child(17), .slider ul li:nth-child(17) div {
     -webkit-animation-delay: 51.0s;
     -moz-animation-delay: 51.0s;
}
.slider ul li:nth-child(18), .slider ul li:nth-child(18) div {
     -webkit-animation-delay: 54.0s;
     -moz-animation-delay: 54.0s;
}

.slider ul li:nth-child(19), .slider ul li:nth-child(19) div {
     -webkit-animation-delay: 57.0s;
     -moz-animation-delay: 57.0s;
}
.slider ul li:nth-child(20), .slider ul li:nth-child(20) div {
     -webkit-animation-delay: 60.0s;
     -moz-animation-delay: 60.0s;
}
.slider ul li a {
     text-decoration: none;
     color: #fff;
}

.slider ul li p {
     color: #fff;
     font-size: 12px;
     margin-top: -5px;
     padding: 10px 15px;
     filter: alpha(opacity=80);
     -moz-opacity: 0.8;
     -khtml-opacity: 0.8;
     opacity: 0.8;
} .slider ul li img a {
     display: block;
     float: left;
     width: 100%;
}

/* keyframes #captions */
@-webkit-keyframes captions {
     0% {
             top: 100%;
             opacity: 0;
     }
     5% {
             top: 80%;
             opacity: 1;
     }
     20% {
             top: 80%;
             opacity: 1;
     }
     25% {
             top: 100%;
             opacity: 0;
     }
     100% {
             top: 100%;
             opacity: 0;
     }
}

@-moz-keyframes captions {
     0% {
             top: 100%;
             opacity: 0;
     }
     5% {
             top: 80%;
             opacity: 1;
     }
     20% {
             top: 80%;
             opacity: 1;
     }
     25% {
             top: 100%;
             opacity: 0;
     }
     100% {
             top: 100%;
             opacity: 0;
     }
}

.slider h3 {
     text-transform: uppercase;
     color: #fff;
     font-size: 14px;
     line-height: 14px;
     padding: 10px 15px 0;
     filter: alpha(opacity=80);
     -moz-opacity: 0.8;
     -khtml-opacity: 0.8;
     opacity: 0.8;
}

.slider ul li div {
     text-align: center;
     color: #fff;
     background-color: rgba(45, 44, 44, 0.7);
     background: rgba(45, 44, 44, 0.7);
     margin: 0;
     padding: 0;
     position: absolute;
     bottom: 0;
     width: 500px; /* important to be same as image width */
     z-index :999;

/* css3 animation */
     -webkit-animation-name: captions;
     -webkit-animation-duration: 24.0s;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: normal;
     -webkit-animation-delay: 0;
     -webkit-animation-play-state: running;
     -webkit-animation-fill-mode: forwards;

     -moz-animation-name: captions;
     -moz-animation-duration: 24.0s;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count: infinite;
     -moz-animation-direction: normal;
     -moz-animation-delay: 0;
     -moz-animation-play-state: running;
     -moz-animation-fill-mode: forwards;
}

footer {

    background-color: #04FB84 ;
    width: 100%;
    display: flex;
    margin-top:20px;
    
}

.foot-title {

    margin-left : 10px;
    font-size: 15px;
    font-family: "radikal";
    color: #34053C;
    

}

.foot-logo img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.foot-container a {
    float:right;
    margin-left: 5px;   
    font-family: "radikal";
    font-size: 10px;
    color: #34053C;

}
